Full Token Binding Support

**Is your feature request related to a problem? Please describe.**
See Token Binding feature:

* [RFC8471](https://tools.ietf.org/html/rfc8471)
* [RFC8472](https://tools.ietf.org/html/rfc8472)
* [RFC8473](https://tools.ietf.org/html/rfc8473)

The framework proposes several strategies:

* Ignore: see `Webauthn\TokenBinding\IgnoreTokenBindingHandler`
* Error: see `Webauthn\TokenBinding\TokenBindingNotSupportedHandler`
* Sec-Token-Binding: see `Webauthn\TokenBinding\SecTokenBindingHandler` (not tested)

**Describe the solution you'd like**
The library should propose a class to fully support this feature

**Describe alternatives you've considered**
N/A

**Additional context**

* Supported by [Microsoft Edge](https://docs.microsoft.com/en-us/windows-server/security/token-binding/introducing-token-binding) only.
* Google Chrome removed it from its feature list: see https://www.chromestatus.com/feature/5097603234529280
* No information from Mozilla Firefox (see [this page](https://bugzilla.mozilla.org/show_bug.cgi?id=1363987)) or from the other browsers


SecTokenBinding support added (to be tested with compatible server)

Token binding is removed from the specification lvl2. See https://github.com/w3c/webauthn/pull/1630